.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 100px;
  background: linear-gradient(to right, #d5ebd5, #ffffff, #abbaab);
  .ant-layout-header {
    background-color: white;
  }
}
