.mapboxgl-map {
  width: 80vw;
  height: 400px;
  @media screen and (min-width: 376px) {
    height: 700px;
  }
}

.mapboxgl-canvas {
  height: 100%;
  border: 5px solid black;
}

.mapboxgl-popup {
  font-size: 0.75rem;
  padding: 0;
  margin: 0;
  color: #424242;
}

.mapboxgl-popup-content {
  padding: 0;
  margin: 0;
  padding: 1rem;
  margin: 0;
  font-size: 1rem;

  > * {
    margin: 0 0;
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    border-bottom: 1px solid rgba(black, 0.2);

    b {
      font-size: 1rem;
      color: #212121;
      padding: 0 5px;
    }
  }

  img {
    display: block;
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.home {
  > p.title {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1rem;
    padding: 0;
    margin: 10px 0;
    @media screen and (min-width: 376px) {
      font-size: 1.5rem;
    }
  }
}
